<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="storeName" value="PizzaHutPizza"/>
    <add key="beefPizzeName" value="PH_BeefPizza"/>
    <add key="hawaiiPizzaName" value="PH_HawaiiPizza"/>
    <add key="seafoodPizzaName" value="PH_SeafoodPizza"/>
    <add key="takoyakiPizzaName" value="PH_TakoyakiPizza"/>
  </appSettings>
</configuration>